.site-nav {

    &__list {
        list-style: none;
    }

    &__item {
        display: inline;
    }

    &__item--active {
        display: inline;

        .site-nav__link {
            text-decoration: underline;
            color: var(--asbestos);
        }
    }

    &__link {
        text-decoration: none;
        color: var(--baltic-sea);
        margin: 0 10px;

    }

    &__link:hover {
        color: var(--asbestos);
    }

}