.site-nav {
    // justify-content: center;
    // align-content: center;
    // overflow: auto;
    // text-align: center;
    // margin-top: 5px;
    // margin-bottom: 20px;

    &__list {
        list-style: none;
    }

    &__item {
        display: inline;
    }

    &__item--active {
        display: inline;

        .site-nav__link {
            text-decoration: underline;
            color: var(--asbestos);
        }
    }

    &__link {
        text-decoration: none;
        color: var(--baltic-sea);
        margin: 0 10px;

    }

    &__link:hover {
        color: var(--asbestos);
    }

}