{% extends "base.html" %}
{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}
{% block main %}
<div class="contact">
    <div class="contact__heading">
        <h1 class="contact__heading-name">CONTACT</h1>
    </div>
    <div class="contact__content">
        <p class="contact__info">If you have any questions or suggestions, the best way to reach out
            to me is to send me an email at <a href="" class="email">mtrvrs@protonmail.com</a>
        </p>
    </div>
</div>
{% endblock main %}