{% extends "base.html" %}
{% block main %}
<div class="landing">
    <div class="landing__container">
        <div class="landing__name">
            <h1><span>mtrvrs.</span></h1>
        </div>
        <div class="landing__blurb">
            <p class="landing__blurb-text">
                I'm a freelance web developer based in Tasmania. Check out my
                <a class="landing__blurb-link" href="./posts">blog</a>, my current
                <a class="landing__blurb-link" href="./projects">projects</a> or
                <a class="landing__blurb-link" href="./contact">contact</a> me.
            </p>
        </div>
    </div>
</div>
{% endblock main %}