{% extends "base.html" %}
{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}
{% block main %}
<div class="post">
    <div class="post__header">
        <h1 class="post__title">
            {{ page.title }}
        </h1>
        <div class="post__sub-header">
            <time class="post__date" datetime="{{ page.date }}">
                {{ page.date | date(format="%b %e, %Y") }}
            </time>
            {% if page.taxonomies %}
            {{ macros::render_taxonomies(taxonomies=page.taxonomies) }}
            {% endif %}
        </div>
    </div>
    <article class="post__content">
        {{ page.content | safe }}
    </article>
    <div class="post__mailing-list">
        <form class="post__mailing-list-form" action="https://tinyletter.com/mtrvrs" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/mtrvrs', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
            <label for="tlemail" class="post__mailing-list-label">If you liked this artile, sign up to recieve new posts by email.</label>
            <div class="post__mailing-list-input">
                <input type="text" class="post__mailing-list-form-label" name="email" id="tlemail" />
                <input type="hidden" value="1" name="embed" />
                <input type="submit" class="post__mailing-list-button" value="Subscribe" />
            </div>
        </form>
    </div>
</div>
{% endblock main %}